body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrolling beyond the slides */
}

.slides-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.slide {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
    /* align-items: center; */
    /* justify-content: center; */
}

#slide1 { background-color: #3498db; }
#slide2 { background-color: #2ecc71; }
#slide3 { background-color: #e74c3c; }
#slide4 { background-color: #9b59b6; }
#slide5 { background-color: #f1c40f; }

h1 {
    text-align: center;
    margin-bottom: 20px;
}

button {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
}
  
#nextBtn {
    right: 10px;
}

/* Slider containers */
#slider-container-1,
#slider-container-2,
#slider-container-3,
#slider-container-4,
#slider-container-combined {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20px;
    gap: 1em;
}

/* Sliders */
#time-slider-1,
#time-slider-2,
#time-slider-3,
#time-slider-4,
#time-slider-combined {
    width: 60%;
    display: block;
    margin-left: 20%; 
}

/* Slider values */
#slider-value-1,
#slider-value-2,
#slider-value-3,
#slider-value-4,
#slider-value-combined {
    font-size: 14px;
    margin-left: 10px;
    width: 20%;
}

/* Plot containers */
#plots-container-1,
#plots-container-2,
#plots-container-3,
#plots-container-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
}

.plot {
    grid-row: 1;
    grid-column: span 2;
    width: 100%;
    height: 400px;
    margin: 10px;
    border: 1px solid #210303;
    position: relative;
}

#plots-container-combined {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}

.plot- {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    border: 1px solid #210303;
    position: relative;
}

.tooltip {
    /* position: absolute; */
    position: relative;
    text-align: center;
    width: 150px;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: rgb(125, 173, 232);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    transition: opacity 0.2s;
}

.line {
    fill: none;
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
}

/* 
.dot {
    fill: steelblue;
    stroke: #c72424;
    stroke-width: 1.5px;
} */

.hover-line {
    stroke: #000;
    stroke-width: 1px;
    stroke-dasharray: 3, 3;
}